<html>
  <head>
    <title>Believe?</title>
    <link href='http://fonts.googleapis.com/css?family=Advent+Pro:600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
<body>
  <div class="banner">
    <img src="images/hubble.jpg" class="banner">
      <div class="overlay">
      </div>
  </div>
  <div class="container">
    <div class="header">
        <div class="header-left">
        </div>
        <div class="header-right">
          <div class="header-right-search">
          </div>
          <div class="header-right-navbutton1">
            <a href="/zodiac">
              <img src="images/navbutton1.jpg" class="header-right-navbutton1-img">
          </div>
          <div class="header-right-navbutton2">
            <a href="/palmreader">
              <img src="images/navbutton2.jpg" class="header-right-navbutton2-img">
          </div>
          <div class="header-right-navbutton3">
            <a href="/birthnumber">
              <img src="images/navbutton3.jpg" class="header-right-navbutton3-img">
            </a>
          </div>
        </div>    
      </div>
      <div class="content">
        <%= yield %>
      </div> 
      <div class="footer">
        <div class="footerleft1">
          <img src="images/logo.png" class="footerleft1">
        </div>
        <div class="footerleft2">
          The Ironyard Copyright 2014, All Rights Reserved
        </div>
        <div class="footerleft3">
        </div>
        <!-- <div class="bottombanner">
          <img src="images/bottombanner.jpeg" class="bottombanner">
            <div class="bottombanner-overlay">
            </div> -->
      </div>
      </div>
    </div>

  </body>
</html>